.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 100%;
}

.nav {
  grid-area: n;
  background-color: salmon;
}

.header {
  grid-area: h;
  background-color: green;
}

.header img {
  width: 20px;
}

.content {
  grid-area: c;
  background-color: lightslategray;
}
