.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  color: white;
}

.messages {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.messages .message {
  color: white;
}

.textItem {
  margin-left: 10px;
}
